.addTodo {
  padding: 7px;
  display: flex;
}

.input {
  border: 1px solid #a1a1a1;
  border-radius: 5px !important;
  padding: 10px !important;
  &:before,&:after  {
    border-bottom: none !important;
  }
}