.newToDoWrapper {
  div {
    &::before, &::after, &:hover {
      border-bottom: none !important;
    }
  }

  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.newTodoColumn {
  flex-direction: column;
}

.fieldRoot {
  width: 100%;
  margin-bottom: 6px;
  background: #e6e6e6;
  padding: 9px;
  border-radius: 5px;
}

.newToDoSend {
  max-width: 100px;
}